.sidebarNote, .sidebarNoteSel {
    justify-content: space-between;
    width: 100%;
    height: var(--sb-note-height);
    /*border-bottom: 1px solid var(--sidebar-light-border);*/
    display: flex;
    align-items: center;
    padding: .2rem;
    user-select: none;

    border-radius: var(--note-radius);
}

.sidebarNote:nth-child(odd) {
    background: var(--note-col);
    transition: background;
    transition-duration: .2s;
}

.sidebarNote:nth-child(even) {
    background: var(--note-col-even);
    transition: background;
    transition-duration: .2s;
}

.sidebarNote:hover {
    background: var(--note-col-hov);
    transition: background;
    transition-duration: .2s;
}

.sidebarNoteSel {
    background: var(--note-col-sel);
    transition: background;
    transition-duration: .2s;
}

.sidebarNote > p, .sidebarNoteSel > p, .sidebarNote > input, .sidebarNoteSel > input {
    width: 80%;
}

.sidebarNote > p, .sidebarNoteSel > p {
    line-height: var(--sb-note-height);
    overflow-x: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebarNote > input, .sidebarNoteSel > input {
    font: inherit;
    background: var(--col-text-edit);
    outline: 2px dashed var(--sidebar-strong-border);
    border: none;
}

.delSymbol {
    width: calc(.50 * var(--sb-note-height));
    height: calc(.75 * var(--sb-note-height));
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.delSymbol img {
    filter: invert(0.7);
    aspect-ratio:initial;
    max-height: 95%;
    max-width: 95%;
    width: auto;
    height: auto;

    transition: filter;
    transition-duration: .4s;
}

.sidebarNote:hover img, .sidebarNoteSel:hover img {
    filter: invert(1) contrast(1);
    transition: filter;
    transition-duration: .4s;
}

.sidebarNote img:hover, .sidebarNoteSel img:hover {
    filter: invert(1) contrast(1) drop-shadow(0 0 0.3rem var(--col-err));
    transition: filter;
    transition-duration: .4s;

    cursor: pointer;
}
