.sidebar {
    width: 20%;
    height: 100vh;
}

.notesWrapperMin, .notesWrapperReg {
    overflow: overlay;
    overflow-x: hidden;
    background: var(--notes-wrapper-col);
}

.notesWrapperMin {
    height: calc(100% - var(--sb-con-height) - var(--sb-note-height) - var(--logout-but-size));
}
 
.notesWrapperReg {
    height: calc(100% - var(--sb-con-height) - var(--logout-but-size));
}

.min {
    width: 2rem;
}

.sidebar, .min {

    --logout-but-size: 2rem;
    --notes-wrapper-col: #111114;
    --controls-wrapper-col: #0f0f13;
    --note-col: #17171a;
    --note-col-even: #101012;
    --note-col-sel: #3f3f4a;
    --note-col-hov: #23272b;

    --sidebar-strong-border: #8c8c8f;
    --sidebar-light-border: #666676;

    --note-radius: 5px;

    border-right: 2px solid var(--sidebar-strong-border);
}

.minAddWrapper {
    width: 100%;
    height: var(--sb-note-height);

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid var(--sidebar-strong-border);
}

.logoutWrapper {
    height: var(--logout-but-size);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.2rem;
    border-top: 2px solid var(--sidebar-strong-border);
    background: var(--controls-wrapper-col);
}

.logoutWrapper img {
    aspect-ratio: 1 / 1;
    max-height: 90%;
    filter: invert(1);

    cursor: pointer;
}

.logoutWrapper img:hover {
    filter: invert(0.8);
}
