.sidebarControls {
    width: 100%;
    height: var(--sb-con-height);
    display: flex;
    padding: 0 .2rem;

    flex-direction: row-reverse;
    align-items: center;
    gap: .2rem;

    border-bottom: 1px solid var(--foreground);
}

.sidebarToggle, .sidebarAdd {
    width: calc(.75 * var(--sb-con-height));
    height: calc(.75 * var(--sb-con-height));
    border: 1px solid var(--middleground);
}
