.sidebarControls {
    width: 100%;
    height: var(--sb-con-height);
    display: flex;
    padding: 0 .2rem;

    align-items: center;
    gap: .2rem;

    border-bottom: 1px solid var(--foreground);
}

