.sidebar {
    width: 20%;
    height: 100vh;
    --logout-but-size: 2rem;
}

.notesWrapperMin, .notesWrapperReg {
    overflow: overlay;
    overflow-x: hidden;
}

.notesWrapperMin {
    height: calc(100% - var(--sb-con-height) - var(--sb-note-height) - var(--logout-but-size));
}
 
.notesWrapperReg {
    height: calc(100% - var(--sb-con-height) - var(--logout-but-size));
}

.min {
    width: 2rem;
    --logout-but-size: 2rem;
}

.sidebar, .min {
    border-right: 1px solid var(--foreground);
}

.minAddWrapper {
    width: 100%;
    height: var(--sb-note-height);

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid var(--middleground);
}

.logoutWrapper {
    height: var(--logout-but-size);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.2rem;
    border-top: 1px solid var(--foreground);
}

.logoutWrapper img {
    aspect-ratio: 1 / 1;
    max-height: 90%;
    filter: invert(1);

    cursor: pointer;
}

.logoutWrapper img:hover {
    filter: invert(0.8);
}
