.sidebarToggle {
    width: calc(.75 * var(--sb-con-height));
    height: calc(.75 * var(--sb-con-height));
    cursor:pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 5px;
}

.sidebarToggle:hover {
    border: 1px solid var(--col-but-hov);
}

.sidebarToggle:hover img {
    filter: sepia(.6);
}
.sidebarToggle img {
    width: 100%;
    height: 100%;
}
