.sidebarAdd {
    width: calc(.75 * var(--sb-con-height));
    height: calc(.75 * var(--sb-con-height));
}

.sidebarAdd:hover {
    color: var(--col-but-hov);
}

.sidebarAdd p {
    text-align: center;
    line-height: calc(.75 * var(--sb-con-height));
    cursor:pointer;
    user-select: none;
}
