.sidebarControlsReg, .sidebarControlsMin {
    width: 100%;
    height: var(--sb-con-height);
    display: flex;
    padding: 0 .25rem;

    align-items: center;

    background: var(--controls-wrapper-col);
}

.sidebarControlsReg {
    gap: .2rem;
    border-bottom: 2px solid var(--sidebar-strong-border);
}

.sidebarControlsMin {
    padding: 0 .2rem;
    justify-content: center;
    border-bottom: 1px solid var(--sidebar-light-border);
}
